doctype transitional
html(lang="de")
head
	title Wizzard Process Widget - Playground Prototye
	mata(http-equiv='X-UA-Compatible', content='IE=edge')
	link(href="style.css", rel="stylesheet")
	script(src="js/process-wizzard.js")
      
body
	div(class=["callouts", "wizzardprocessCallouts"], style="background-image:url('"+wizzardProcess.backgroundImage+"')")
		div.container
			div.modHead
				h2.title
					span.hidden-xs= wizzardProcess.title
					a(class="visible-xs" href="#")
			div.modContent
				div.panels
					- var stepNo=0;
					each step in wizzardProcess.steps
						- stepNo++;
						- var left = 100*stepNo;
						div(class=["panel", "active"])
							div.item
								div.indicator
									span.text= stepNo
								div.content
									h3.title= step.title
									p= step.text
									a(class=["btn", "btn-primary"], href=step.linkUrl)= step.linkText
								div.aside
									div(class="imageBG", style="background-image:url('"+step.backgroundImage+"')")
										span.sr-only= step.text
				div.tabs
					- var i=0;
					each step in wizzardProcess.steps
						- var left = 100.0*i/(wizzardProcess.steps.length-1);
						- i++;
						a(href="#",  style="left: "+left+"%")= i
					span(class=["indicator", "hasNext"]) 1

	script window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')
	script(src="js/bootstrap.min.js")
	script(type='text/javascript').
		// jQuery = $ - Bei der Funktion jQuery bzw. $ handelt es sich um eine Selections Funktion
		// um z.B. das komplette HTML Dokument zu selektieren jQuery(document)
		// Die ready() Funktion sorgt dafür, dass die darin enthaltenen Funktionen erst ausgeführt werden,
		// wenn der komplette HTML Baum (DOM) geladen wurde
		jQuery(document).ready(function(){
		// jQuery('#slideshow') selektiert ein HTML Element mit der id "slideshow"
		// und wendet die Funktion "fadeSlideShow" darauf an
		jQuery('#slideshow').fadeSlideShow({
		// Die Parameter im fadeSlideShow Funktionsaufruf bilden die Option des jQuery Plugins
		// Diese Optionen sind optional, es wäre auch möglich die Funktion nur so aufzurufen:
		// jQuery('#slideshow').fadeSlideShow();
		// Dies setzt allerdings voraus, dass die Standard Optionen für den eigenen Bedarf der Funktion
		// ausreichen bzw. passen
				width:640, // Dieser Parameter setzt die Weite der Slideshow fest
				height:480, // Dieser Parameter setzt die Höhe der Slideshow fest
				speed: 'slow', // Dieser Parameter setzt die Geschwindigkeit der Animation fest
				interval:5000 // Dieser Parameter bestimmt in welchem Abstand ein neues Bild angezeigt wird 1000 = 1 Sekunde
			});
		});
