doctype transitional
html(lang="de")
head
	title Standard Bootstrap Layout
	mata(http-equiv='X-UA-Compatible', content='IE=edge')
	link(href="../node_modules/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
	link(href="../../assets/css/ie10-viewport-bug-workaround.css", rel="stylesheet")
	link(href="style.css", rel="stylesheet")
	script(src="../../assets/js/ie-emulation-modes-warning.js")
	script(type='text/javascript').
		if (foo) bar(1 + 5)
      
body
	div(class=["callouts", "timelineCallouts"])
		div.container
			div.modHead
				h2.title
					span.hidden-xs BIG Title
					a(class="visible-xs" href="#")
			div.modContent
				div.panels
					each step in [["Item1 Title", "Item1 Text", "Item1 Link Text", "#item1-link-url", "img/item1-background.jpg", "Item1 Description"], ["Item2 Title", "Item2 Text", "Item2 Link Text", "#item2-link-url", "img/item2-background.jpg", "Item2 Description"]]
						div(class=["panel", "active"])
							div.item
								div.indicator
									span.text= step[1]
								div.content
									h3.title= step[0]
									p= step[0]
									a(class=["btn", "btn-primary"], href=step[3])= step[2]
								div.aside
									div(class="imageBG", style="background-image:url('"+step[4]+")")
										span.sr-only= step[5]
				div.tabs
					<a href="#">1</a>
					<a href="#">2</a>
					<span class="indicator hasNext">1</span>

	script(src="js/jquery.min.js")
	script window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
	script(src="js/bootstrap.min.js")
