doctype transitional
html(lang="de")
head
	title Standard Bootstrap Layout
	mata(http-equiv='X-UA-Compatible', content='IE=edge')
	link(href="../node_modules/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
	link(href="../../assets/css/ie10-viewport-bug-workaround.css", rel="stylesheet")
	link(href="style.css", rel="stylesheet")
	script(src="../../assets/js/ie-emulation-modes-warning.js")
	script(type='text/javascript').
		if (foo) bar(1 + 5)
      
body
	div(class=["callouts", "timelineCallouts"], style="background-image:url('"+wizzardProcess.backgroundImage+"')")
		div.container
			div.modHead
				h2.title
					span.hidden-xs= wizzardProcess.tite
					a(class="visible-xs" href="#")
			div.modContent
				div.panels
					- var stepNo=0;
					each step in wizzardProcess.steps
						div(class=["panel", "active"])
							div.item
								div.indicator
									span.text= ++stepNo
								div.content
									h3.title= step.title
									p= step.text
									a(class=["btn", "btn-primary"], href=step.linkUrl)= step.linkText
								div.aside
									div(class="imageBG", style="background-image:url('"+step.backgroundImage+"')")
										span.sr-only= step.text
				div.tabs
					- var i=0;
					each step in wizzardProcess.steps
						- i++;
						a(href="#")= i
					span(class=["indicator", "hasNext"]) 1

	script(src="js/jquery.min.js")
	script window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
	script(src="js/bootstrap.min.js")
