doctype transitional
html(lang="de")
head
	title Wizzard Process Widget - Playground Prototye
	mata(http-equiv='X-UA-Compatible', content='IE=edge')
	link(href="css/bootstrap.min.css", rel="stylesheet")
	link(href="style.css", rel="stylesheet")

body
	div(class=["callouts", "wizzardprocessCallouts"], id=wizzardProcess.id style="background-image:url('"+wizzardProcess.backgroundImage+"')")
		div.container
			div.modHead
				h2.title
					span.hidden-xs= wizzardProcess.title
					a(class="visible-xs" href="#")
			div.modContent
				div.panels
					- var stepNo=0;
					- var cls = "panel active"
					each step in wizzardProcess.steps
						- stepNo++;
						- var left = 100*stepNo;
						div(class=cls, id=wizzardProcess.id+"-step"+stepNo)
							div.item
								div.indicator
									span.text= stepNo
								div.content
									h3.title= step.title
									p= step.text
									a(class=["btn", "btn-primary"], href=step.linkUrl)= step.linkText
								div.aside
									div(class="imageBG", style="background-image:url('"+step.backgroundImage+"')")
										span.sr-only= step.text
						- cls = "panel"
				div.tabs
					- var i=0;
					each step in wizzardProcess.steps
						- var left = 100.0*i/(wizzardProcess.steps.length-1);
						- i++;
						a(href="#", id=wizzardProcess.id+"-a"+i, style="left: "+left+"%")= i
					span(class=["indicator", "hasNext"]) 1

	script window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')
	script(src="js/bootstrap.min.js")
	script(src="js/wizzard-process.js")
	script(type='text/javascript').
		// jQuery = $ - Bei der Funktion jQuery bzw. $ handelt es sich um eine Selections Funktion
		// um z.B. das komplette HTML Dokument zu selektieren jQuery(document)
		// Die ready() Funktion sorgt dafür, dass die darin enthaltenen Funktionen erst ausgeführt werden,
		// wenn der komplette HTML Baum (DOM) geladen wurde
		jQuery(document).ready(function(){
			jQuery('div.wizzardprocessCallouts a').click(aclick);
		});
